/* *{
  margin: 0; */
/* } */
html,body,#root{
  height:100%
}

#root{
  display: grid;
  place-items: center;
}
.chess-board{
  display: grid;
   /* width: 400px; 
  height: 400px;  */
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  /* justify-items: center;
  align-items: center; */
  inset: 0;
  position: absolute;
}
.App{
  /* justify-items: center; */
  /* align-items: center; */
  /* display: grid; */
  /* height: 100vh; */
  max-width: 600px;
  border: solid 5px black;
  width: 100%;

}
.chess-board-container{
  width: 100%;
  margin: auto;
   height:0px; 
  /* border: solid 5px brown; */
  position: relative;
  padding-top: 100%;
}
.chess-pawn{
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}